<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <!-- BOOLZAPP -->
    <div id="app" class="container">
        <!-- SIDE -->
        <aside class="side">
            <!-- HEADER SIDE -->
            <section class="header-side">
                <!-- USER -->
                <div class="user">
                    <img src="./img/avatar_8.jpg" alt="User Image">
                    <span class="user-name">Francesco Ferilli</span>
                </div>
                <!-- USER INTERACTIONS -->
                <div class="header-interactions">
                    <i class="fas fa-circle-notch"><a href="#"></a></i>
                    <i class="fas fa-comment-alt"><a href="#"></a></i>
                    <i class="fas fa-ellipsis-v"><a href="#"></a></i>
                </div>
            </section>
            <!-- NOTIFICATIONS -->
            <section class="notifications">
                <div class="sound">
                    <i class="fas fa-bell-slash"></i>
                </div>
                    <div class="sound-info">
                        <span>Receive new messages notifications</span>
                        <span><a href="#">Active desktop notifications</a></span>
                    </div>
            </section>
            <!-- SEARCH -->
            <section class="search">
                <div class="search-icon">
                    <i class="fas fa-search"><a href="#"></a></i>
                </div>
                <div class="search-input">
                    <input type="text" class="search-text" placeholder="Search or start a new chat">
                </div>
            </section>
            <!-- MAIN SIDE -->
            <section class="main-side">
                <ul>
                    <li  @click="showChat(index)" v-for="(user, index) in users" class="user-chat" :class="{active: index == indexChat}">
                        <img :src="'./img/'+'avatar'+user.avatar+'.jpg'" :alt="messageAvatar">
                        <span>{{user.name}}</span>
                    </li>
                </ul>
            </section>
        </aside>
        <!-- CONTENT -->
        <main class="content">
            <!-- HEADER CONTENT -->
            <section class="header-content">
                <!-- CHAT NAME -->
                <div class="chat-name">
                    <img  :src="'./img/avatar' + users[indexChat].avatar + '.jpg'" alt="Avatar 1 Image">
                    <div class="chat-info">
                        <span>{{users[indexChat].name}}</span>
                        <span class="log">Last log in at 10:35</span>
                    </div>
                </div>
                <!-- CHAT INTERACTIONS -->
                <div class="chat-interactions">
                    <i class="fas fa-search"><a href="#"></a></i>
                    <i class="fas fa-paperclip"><a href="#"></a></i>
                    <i class="fas fa-ellipsis-v"><a href="#"></a></i>
                </div>
            </section>
            <!-- MAIN CONTENT -->
            <section class="main-content">
                <!-- MESSAGES -->
                <div class="chat-container">
                    <div v-for="message in users[indexChat].messages"
                    :class="'message ' + message.status">
                        <div class="message-text">{{message.message}}</div>
                        <div class="log">{{message.date}}</div>
                    </div>
                </div>
            </section>
            <!-- FOOTER CONTENT -->
            <section class="footer-content">
                <!-- EMOJI -->
                <div class="emoji">
                    <i class="far fa-smile"><a href="#"></a></i>
                </div>
                <!-- CHAT -->
                <div class="chat">
                    <input @keyup.enter="sendMessage" v-model.trim="newMessage" type="text" class="chat-input" placeholder="Write a message here">
                </div>
                <!-- AUDIO -->
                <div class="audio">
                    <i class="fas fa-microphone"></i>
                </div>
            </section>
        </main>
    </div>






















    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>